<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/app.css">
    <title>My App</title>
</head>
<body>

<div class="container">
    <form action="/markdown" method="post">
        <div class="mb-3">
            <label for="message" class="form-label">Your message</label>
            <textarea class="form-control" id="message" rows="15" name="message"></textarea>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </div>
    </form>

    <div class="alert alert-info">
        <ul>
            <li># Heading level 1</li>
            <li>## Heading level 2</li>
            <li>**bold text**</li>
            <li>*Italic*</li>
        </ul>
    </div>
</div>

</body>
</html>
